/ {
    leds {
        compatible = "gpio-leds";
        led0: led_0 {
            gpios = <&gpio2 9 GPIO_ACTIVE_HIGH>;
            label = "Green LED 0";
        };
        led1: led_1 {
            gpios = <&gpio1 10 GPIO_ACTIVE_HIGH>;
            label = "Green LED 1";
        };
        led2: led_2 {
            gpios = <&gpio2 7 GPIO_ACTIVE_HIGH>;
            label = "Green LED 2";
        };
        led3: led_3 {
            gpios = <&gpio1 14 GPIO_ACTIVE_HIGH>;
            label = "Green LED 3";
        };
    };
};